<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Start</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "collection/reset.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "collection/style.css" %}" />
</head>

<body id="conjugate-preference">
  <div class="fading" style="opacity: .5;"></div>
  <iframe width="800" height="450" src="https://www.youtube.com/embed/RuOwsy4GbLc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>

</html>
