<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Start</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "collection/reset.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "collection/style.css" %}" />
</head>

<body id="end-of-session">
  <h1>End of Session</h1>
  <a href="{% url 'index' %}" class="button">Return to Start Menu</a>
</body>

</html>
